doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/css/bootstrap-theme.css')
  body
    div
        img(src= "http://www.softhouse.se/wp-content/uploads/2014/09/softhouse_logotyp.png")
    block content

    div#footer.footer
        h1 footer here
